@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 0px auto;
  text-align: center;
}

/* Header */
header {
  padding: 30px;
  margin: 0px 0px 50px;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
	color: #184F80;
	font-size: 60px;
}

h2 {
  font-family: 'Hammersmith One', sans-serif;
}

/* Nav bar*/
nav {
  text-align: center;
  margin: 0px auto 0px;
  padding: 10px;
  width: 800px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 5px 10px;
}

nav a:hover {
  text-decoration: underline;
  background-color: yellow;
}

/* Main - games and sketches */
main {
  margin: 0 auto;
  width: 80%;
}

#itemlist {
  list-style-type: none;  
  text-align: left;
}

.sketch {
  margin: 70px 0px;
  cursor: move;
}

.sketch h2 {
  margin: 0px 0px 20px;
  text-align: center;
}

iframe {
  overflow: hidden;
  border: none;
}

/* Footer */
footer {
  padding: 50px;
  width: 1000px;
  margin: 0px auto 50px;
}

#bio {
  margin: 20px;
}

#bio h2 {
  margin: 20px 0px;
  text-align: left;
}

#bio p {
  width: 600px;
  text-align: left;
  margin: 0px auto;
}

#profilepic {
  width: 250px;
  border-radius: 50%;
  border: 7px double black;
  float: left;
  margin: 0px 30px;
}

#links {
  margin: 15px;
  text-align: left;
}

#links a {
  margin: 15px;
}

.icon {
  width: 30px;
}

.icon:hover {
  width: 40px;
}
