body {
  background-color: #BDE0FF;
  padding: 0;
  margin: 0;
  text-align: center;
}

#titleText {
	font-family: 'Henny Penny', cursive;
	color: #184F80;
	font-size: 70px;
}

#sketch {
	cursor: move;
}

#bio {
	padding-bottom: 100px;
}

#bioName {

}

#bioText {
	margin: auto;
	width: 600px;
}
